<div class="content-section">
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif%}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Log In</legend>
            {{ form.as_p }}
        </fieldset>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>
    <div>
        <small>
            Don't have an account? <a href="http://178.166.1.127:20545/register/">Sign Up</a>
        </small>
    </div>
</div>